@model UserManagement.Web.Models.Users.UserListViewModel

@{
    bool? isActive = ViewBag.IsActive as bool?;
}

<h2>User List</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Forename</th>
                <th>Surname</th>
                <th>Email</th>
                <th class="text-center">Date of Birth</th>
                <th class="text-center">Account Active</th>
                <th class="text-center" style="width: 1px;">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Forename
                    </td>
                    <td>
                        @item.Surname
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td class="text-center">
                        @item.DateOfBirth.ToString("dd/MM/yyyy")
                    </td>
                    <td class="text-center">
                        <i class="bx bx-md @(item.IsActive ? "bx-check text-success" : "bx-x text-danger")"></i>
                    </td>
                    <td class="text-center">
                        <a asp-controller="Users" asp-action="ViewEditUserPage" asp-route-userId="@item.Id"><i class="bx bx-md bx-edit text-primary"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <div class="btn-group" role="group" id="FilterButtons">
        <a asp-controller="Users" asp-action="List" class="btn @(isActive == null ? "btn-primary" : "btn-outline-primary")">Show All</a>
        <a asp-controller="Users" asp-action="List" asp-route-isactive="true" class="btn @(isActive == true ? "btn-primary" : "btn-outline-primary")">Active Only</a>
        <a asp-controller="Users" asp-action="List" asp-route-isactive="false" class="btn @(isActive == false ? "btn-primary" : "btn-outline-primary")">Non Active</a>
    </div>

    <a asp-controller="Users" asp-action="ViewAddUserScreen" class="btn btn-success float-end">
        <i class="bx bx-plus bx-sm align-middle"></i> Add User
    </a>
</div>
